:focus {
  outline: #dec6ec auto 6px;
}

h1 {
  font-family: 'Viga', monospace;
  font-size: 60px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 400;
}
h3 {
  font-weight: 500;
  text-align: center;
  margin-top: 0px;
  font-family: monospace;
}

p, li {
  font-family: monospace;
  font-weight: 500;
  padding: 10px 40px;
}

.header {
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.header-name {
  text-align: center;
  margin-bottom: 20px;
}

.navbar {
  display: inline-block;
}

button {
  width:36%;
  text-align: left;
  font-family: monospace;
  font-size: 40px;
  color: #ece2c6;
  background-color: #000000;
  border: none;
}

button:hover {
  cursor: pointer;
  color: #000000;
  background-color: #ece2c6 ;
  /* border: 5px solid #ecc6c6; */
}

#projects-title {
  display: inline-block;
}

img {
  border-radius: 200px;
  display: block;
  margin: 0 auto;
}


.portfolio-link-container {
  position: relative;
  text-align: center;
}

.links-container {
  position: absolute;
  top: 47%;
  left: 47%;
  font-family: monospace;
  font-size: 18px;
  text-align: end;
}

.portfolio-link {
  display: block;
  line-height: 0.95;
  text-decoration: none;
  color: black;
}

.portfolio-link:hover, .portfolio-link:focus {
  color: #ece2c6;
  font-weight: bold;
  background-color: black;
}

.media-link-container {
  font-family: monospace;
  margin-left: 20%;
}

.media-link-container a {
  color: black;
}

.media-link-container a:hover {
  background-color: #f9ecf2;
}

/* EVERY MODERN WEBSITE NEEDS AT LEAST ONE BUG */

@keyframes cockroach {
    0%   {left:400px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:-200px;}
    75%  {left:0px; top:0px;}
    100% {left:400px; top:0px;}
}
.cockroach {
/*  position: absolute;
  width:100px;
  height: 100px;*/
}
.cockroach img {
    width: 100px;
    height: 100px;
    left: 400px;
    position: relative;
    animation-name: cockroach;
    animation-duration: 4s;
}

/* PROJECTS */
#projects-list {
  padding-left: 20%;
  font-weight: 500;
  font-family: monospace;
  list-style-type: none;
}

.project-info {
  margin: 20px 60px 20px 0;
}

/* PUBLICATIONS */
.paper-title a {
  text-decoration: none;
  color: #000000
}

.paper-title a:hover {
  text-decoration: underline;
}

#publications-info-paper1, 
#publications-info-paper2,
#publications-info-paper3 {
  display: none;
}

li:hover + #publications-info-paper1 {
    display: block;
}

li:hover + #publications-info-paper2 {
  display: block;
}

li:hover + #publications-info-paper3 {
  display: block;
}

.paper-info {
  background-color: #000000;
  color:#ece2c6;
  font-family: monospace;
}

/* ABOUT */
#email-link {
  color: black;
}

#email-link:hover {
  background-color: #f9ecf2;
  font-weight: bold;
}

/*li:hover + #project-info--bitzbots {
    display: block;
}*/
