/* erlenmeyer flask icon courtesy of <href="https://www.flaticon.com/free-icons/chemistry" title="chemistry icons">Chemistry icons created by Freepik - Flaticon</a> */
/* GLOBAL STYLES */
@font-face {
  font-family: 'Savio';
  src: url('../static/fonts/savio-webfont.woff') format('woff');
}

body {
  background-color: beige;
  color: #000000;
}

h1 {
  font-family: 'Savio';
  font-size: 10em;
}

p {
  font-family: 'Savio';
  font-size: 4em;
}

/* li a {
  font-family: 'IBM Plex Mono';
  font-size: 32px;
  font-weight: 200; */
  /* color: #ffe0ff; */
  /* color: #000000; */


a:hover {
  /* background-color: floralwhite; */
}

a:visited {
  color:aliceblue
}

/* HEADER */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#anne-home-nav {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 36px;
  font-weight: 200;
  color: #000000;
  text-decoration: none;
  padding: 0 48px;
}

#anne-home-nav:hover {
  background-color: #f3bff3;
  /* background-color: #000000; */
}

.anne-nav-links {
  font-family: monospace;
  /* display: flex; */
  list-style-type: none;
  align-items: center;
  flex-grow: 1;
  justify-content: space-around;
}

.navlink:hover {
  cursor: pointer;
}

#projects-nav:hover {
  background-color: lavender;
}

#exhibits-nav:hover {
  background-color: lavender;
}

#about-nav:hover {
  background-color: lime;
}

.hero {
  font-family: 'Savio';
  font-size: 40px;
  padding: 40px;
  color: #000000;
  text-align: end; 
  font-weight: 200;
  
}