/* erlenmeyer flask icon courtesy of <href="https://www.flaticon.com/free-icons/chemistry" title="chemistry icons">Chemistry icons created by Freepik - Flaticon</a> */
/* GLOBAL STYLES */
body {
  background-color: #000000;
  color: #ffe0ff;
}

p,
li a {
  font-family: "UnifrakturCook", cursive;
  font-size: 32px;
  color: #ffe0ff;
}

a:hover {
  color: #f3bff3;
}

/* HEADER */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#anne-home-nav {
  font-family: 'UnifrakturCook', monospace;
  font-size: 60px;
  color: lavender;
  text-decoration: none;
  padding: 0 48px;
}

#anne-home-nav:hover {
  color: #000;
  text-shadow: lavender 1px 0 10px;
  /* background-color: #000000; */
}

.anne-nav-links {
  display: flex;
  list-style-type: none;
  align-items: center;
  flex-grow: 0.25;
  justify-content: space-around;
}

.navlink:hover {
  cursor: pointer;
}

.hero {
  font-size: 40px;
  padding: 40px;
}